<div class="frame">

  <div class="rida">
     <div class="group">
       <div class="joonisval">
         <div class="joonis">
             
           
           
          <div class="tekstike">
           Hinnang tasuvusele elujõulisuse kaudu
          </div>
          <br>
          <br>
          <div class="tekstike2"> 
            Ettevõtte tasuvus on Võrreldes teiste ettevõtetega võrreldes on ettevõtte tasuvus väiksem/sama suur/suuremmadalam/samal tasemel/kõrgem. Tasuvuse suhtarvud  näitavad ettevõtte rentaablust ehk seda, kui efektiivselt suudab ettevõte oma vara kasutada ning kulusid kontrolli all hoida, et tagada oodatav tulusus. Ettevõtte käibe ärirentaablus on madalväike/keskpärane/kõrge suur ja ettevõttesse investeeritud varade puhasrentaablus on väike/keskpärane/suurmadal/keskpärane/kõrge. Tasuvuse tõstmiseks suurendamiseks tuleb teatud müügitulu ja/või varade mahu juures luua suhteliselt enam kasumit.
          </div>
           
         </div>
         
       
  
        </div>
       
     </div>
     <div class="tekstjanupp">
       <!--div class="graafikuke"-->
         
       <graafmudeltasuv></graafmudeltasuv>
       <!--graaf5></graaf5-->
  
       <!--/div-->
  
       <!--div class="nupp">
        <button>
        Vaata täpsemat põhjendust
        </button>
        </div-->  <!--Teksti kohta on stiiliinfot 224-->
     </div>
   </div>    
  
  </div>